<!DOCTYPE HTML>
<html>

<head>
    <script src="../static/code/highcharts.js"></script>
    <script src="../static/code/highcharts-more.js"></script>
    <script src="../static/code/modules/exporting.js"></script>
    <script src="../static/jQuery/jquery.js"></script>
    <script src="../static/css/bootstrap.css"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>iRobot Controller</title>

    <style type="text/css">
        .highcharts-tooltip h3 {
            margin: 0.3em 0;
        }
    </style>
</head>

<body>
    <div id='calibrate_text' class="alert alert-primary" role="alert"></div>
    <div class="progress" id='distanceBar' style="height: 80px;">
        <div class="progress-bar bg-warning" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Distance: 100cm</div>
    </div>
    <div id="container_for_robot" style="height: 800px; margin: 0"></div>
    <script type="text/javascript">
        var y = 0;
        var x = 0;
        var angle = Math.PI/2;
        var distance = 0;
        var obj = [];

        var chart = Highcharts.chart('container_for_robot', {
            chart: {
                type: 'bubble',
                plotBorderWidth: 2,
                zoomType: 'xy'
            },

            legend: {
                enabled: true
            },

            title: {
                text: "{{chart_title}}"
            },

            xAxis: {
                gridLineWidth: 1,
                title: {
                    text: '{{xAxis["title"]}}'
                },
                labels: {
                    format: '{value} cm'
                },
                min: -100,
                max: 200
            },

            yAxis: {
                startOnTick: false,
                endOnTick: false,
                title: {
                    text: '{{yAxis["title"]}}'
                },
                labels: {
                    format: '{value} cm'
                },
                maxPadding: 0.2,
                min: -100,
                max: 400
            },

            plotOptions: {
                series: {
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}'
                    }
                }
            },

            series: [{
                name: 'Objects',
                data:
                    {{ data| safe }},
                   
            },
        {
            name: 'Robot',
                data: [{
                    'x': x, 'y': 0,
                    'z': 30, 'name': 'Robot'
                }],

        }
            ]
        });

       


    </script>
    <!-- Button to calibrate -->

    <button id='calibrate' class="btn btn-danger" type="button" onclick="calibrate()">Calibrate</button>
    <button id='up' class="btn btn-primary" type="button" onclick="up()">Up</button>
    <button id='down' class="btn btn-primary" type="button" onclick="down()">Down</button>
    <button id='stop' class="btn btn-primary" type="button" onclick="stop()">Stop</button>
    <button id='right' class="btn btn-primary" type="button" onclick="right()">Right</button>
    <button id='right' class="btn btn-primary" type="button" onclick="left()">Left</button>
    <button id='right' class="btn btn-primary" type="button" onclick="music()">Music</button>
    <button id='machine_learning' class="btn btn-primary" type="button" onclick="machine_learning()">Machine Learning</button>
    <p id="distance" class="text-primary">Distance: 0cm</p>
    <p id="angle" class="text-danger">Angle: pi/2</p>
    <p id="data"></p>

    <script src="{{url_for('static',filename='model/javascriptController.js')}}">
    
    </script>
</body>

</html>