<!DOCTYPE html>
<html>

<head>
    <script src="../static/jQuery/jquery.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <meta charset="utf-8">
</head>

<body>
    <div id='test_for_raw' class="alert alert-primary" role="alert"></div>
    <div id="container1" style="height: 800px; margin: 0 auto"></div>
    <button class="btn btn-primary" onclick="getRawData()">Get</button>
    
    <script>

        var chart2 = Highcharts.chart('container1', {

            chart: {
                type: 'area'
            },

            title: {
                text: 'Raw Data From robot'
            },

            pane: {
                startAngle: 0,
                endAngle: 180
            },

            xAxis: {
                tickInterval: 45,
                min: 0,
                max: 180,
                labels: {
                    formatter: function () {
                        return this.value + '°';
                    }
                }
            },

            yAxis: {
                min: 0
            },

            plotOptions: {
                series: {
                    pointStart: 0,
                    pointInterval: 45
                },
                column: {
                    pointPadding: 0,
                    groupPadding: 0
                }
            },

            series: [{
                type: 'area',
                name: 'IR Sensor Data',
                data: [[0, 1], [1, 2]]
            },
            {
                type: 'area',
                name: 'Pin Sensor Data',
                data: [1, 10, 20, 30]
            }

            ]
        });

        function getRawData() {
            readDataForSensor();
            document.getElementById('test_for_raw').innerHTML = "Start getting the raw data"
        }
        function readDataForSensor() {
            $.getJSON('/raw_data', {
                prolang: $('input[name="prolang"]').val(),
            }, function (data) {
                $.each(data, function (key, val) {
                    document.getElementById('test_for_raw').innerHTML = "Finished collecting the data"
                    if (key == "pin") {
                        chart2.series[1].setData(val);
                    } else {
                        chart2.series[0].setData(val);
                    }
                });
            });
        }
    </script>
</body>

</html>